.header_link {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
    transition: all 0.5s;
    color: var(--white100);
    text-decoration: none;

    &:hover {
        color: var(--blue300);
    }
}

.profile_information {
    display: flex;
    align-items: center;

    p {
        margin-left: 1rem;
        cursor: pointer;
    }
}